@import "./fonts/fonts.css";
@import "./styles/glitch.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: rgb(249 249 249);
  background-color: rgb(17 17 17);
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

*::-webkit-scrollbar {
  display: none;
}

html,
* {
  scrollbar-width: none !important;
}
main {
  scroll-snap-type: y mandatory;
}
.snap {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
.scroll-blocked {
  overflow: hidden;
}
.writing {
  writing-mode: vertical-lr;
  line-height: 2rem;
  font-size: 3.75rem;
}
